button {
    background-color: blue;
    height: 50px;
    width: 50px;
}

#matrix {
  margin: 30% 0px 0px 45%;
}

.playerProfiles{
    display: flex;
}

.player1Div{
    width: 50px;
    height: 50px;
}

.player2Div{
    margin-left: 90%;
    width: 50px;
    height: 50px;
}

